# Project exclude paths
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
/.gradle/
/common/.gradle/
/common/build/
/fabric/.gradle/
/fabric/build/
/forge/.gradle/
/forge/build/

# other
eclipse
run
server

# Files from Forge MDK
forge*changelog.txt

#github

1.17
.env

test-files
logs/